.root {
    height: 100%;
    min-height: rem(600px);
    position: relative;
}

.content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.inner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media (min-width: $mantine-breakpoint-md) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.articleCategory {
    text-transform: none;
    font-weight: 500;
    background: alpha(white, 0.2);
    backdrop-filter: blur(10px);
}

.articleTitle {
    margin-top: var(--mantine-spacing-xs);
    color: white;
    font-size: rem(28px);

    @media (min-width: $mantine-breakpoint-md) {
        font-size: rem(38px);
    }
}

.articleDescription {
    color: var(--mantine-color-gray-5);
    margin-top: 0.4rem;
    max-width: 48rem;
}

.articleButton {
    margin-top: var(--mantine-spacing-md);
    align-self: start;
    background-color: white;
    color: var(--mantine-color-dark-9) !important;
    font-weight: 600 !important;

    &:hover {
        background-color: alpha(white, 0.9);
    }
}

.author {
    margin-top: var(--mantine-spacing-xl);
    align-items: start;

    @media (min-width: $mantine-breakpoint-md) {
        margin-top: 0;
        align-items: end;
    }
}

.avatarPlaceholder {
    color: var(--mantine-color-dark-9);
}
