.logoLink {
    font-weight: 500;

    &:hover {
        opacity: 0.8;
    }
}

.navLink {
    display: block;
    font-weight: 500;
    color: var(--mantine-color-dimmed);

    &:hover,
    &[data-active='true'] {
        color: var(--mantine-color-dark-9);
    }
}
